.intab-form-cls, .intab-form-cls .x-panel-bc, .intab-form-cls .x-panel-tl, .intab-form-cls .x-panel-tr, .intab-form-cls .x-panel-bl, .intab-form-cls .x-panel-br {
	background: none;
}
.allform-tab-cls {
	background: #DFE8F6;
}
/* begin: IPS COmponent*/
#wui-ips .x-layout-split { height:1px; width:1px; }
.wui-ips-icon { background-image: url(../images/default/component/wui-ips-icon.png) !important; }
.ips-shortcut { background-image: url(../images/default/component/ips-shortcut-icon.png);
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/ips-shortcut-icon.png', sizingMethod='scale');
}
#wui-ips .x-panel-tbar-noheader .x-toolbar,
#wui-ips .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-ips .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-ips .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: IPS COmponent*/
/* begin: All COmponent*/
#wui-all .x-layout-split { height:1px; width:1px; }
.wui-all-icon { background-image: url(../images/default/component/wui-system-icon.png) !important; }
.all-shortcut { background-image: url(../images/default/component/system-shortcut-icon.png);
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/system-shortcut-icon.png', sizingMethod='scale');
}
#wui-all .x-panel-tbar-noheader .x-toolbar,
#wui-all .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-all .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-all .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: All Component*/


/* begin: System COmponent*/
#wui-system .x-layout-split { height:1px; width:1px; }
.wui-system-icon { background-image: url(../images/default/component/wui-system-icon.png) !important; }
.system-shortcut { background-image: url(../images/default/component/system-shortcut-icon.png);
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/system-shortcut-icon.png', sizingMethod='scale');
}
#wui-system .x-panel-tbar-noheader .x-toolbar,
#wui-system .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-system .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-system .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: System COmponent*/

/* begin: Network COmponent*/
#wui-network .x-layout-split { height:1px; width:1px; }
.wui-network-icon { background-image: url(../images/default/component/icon-network.png) !important; }
.network-shortcut { background-image: url(../images/default/component/network-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/network-shortcut-icon.png', sizingMethod='scale');
}
#wui-network .x-panel-tbar-noheader .x-toolbar,
#wui-network .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-network .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-network .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Network COmponent*/
/* begin: Phone Component*/
#wui-phone .x-layout-split { height:1px; width:1px; }
.wui-phone-icon { background-image: url(../images/default/component/icon-phones.png) !important; }
.phone-shortcut { background-image: url(../images/default/component/phone-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/phone-shortcut-icon.png', sizingMethod='scale');
}
#wui-phone .x-panel-tbar-noheader .x-toolbar,
#wui-phone .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-phone .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-phone .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Object COmponent*/

/* begin: Payment Component*/
#wui-payment .x-layout-split { height:1px; width:1px; }
.wui-payment-icon { background-image: url(../images/default/component/icon-payments.png) !important; }
.payment-shortcut { background-image: url(../images/default/component/payment-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/payment-shortcut-icon.png', sizingMethod='scale');
}
#wui-payment .x-panel-tbar-noheader .x-toolbar,
#wui-payment .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-payment .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-payment .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Payment Component*/
/* begin: Center Component*/
#wui-center .x-layout-split { height:1px; width:1px; }
.wui-center-icon { background-image: url(../images/default/component/icon-centers.png) !important; }
.center-shortcut { background-image: url(../images/default/component/center-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/center-shortcut-icon.png', sizingMethod='scale');
}
#wui-center .x-panel-tbar-noheader .x-toolbar,
#wui-center .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-center .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-center .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Center Component*/
/* begin: Change Component*/
#wui-change .x-layout-split { height:1px; width:1px; }
.wui-change-icon { background-image: url(../images/default/component/icon-change.png) !important; }
.change-shortcut { background-image: url(../images/default/component/change-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/change-shortcut-icon.png', sizingMethod='scale');
}
#wui-change .x-panel-tbar-noheader .x-toolbar,
#wui-change .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-change .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-change .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Change Component*/
/* begin: Report Component*/
#wui-report .x-layout-split { height:1px; width:1px; }
.wui-report-icon { background-image: url(../images/default/component/icon-report.png) !important; }
.report-shortcut { background-image: url(../images/default/component/report-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/report-shortcut-icon.png', sizingMethod='scale');
}
#wui-report .x-panel-tbar-noheader .x-toolbar,
#wui-report .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-report .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-report .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Report Component*/
/* begin: Service Component*/
#wui-service .x-layout-split { height:1px; width:1px; }
.wui-service-icon { background-image: url(../images/default/component/icon-service.png) !important; }
.service-shortcut { background-image: url(../images/default/component/service-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/service-shortcut-icon.png', sizingMethod='scale');
}
#wui-service .x-panel-tbar-noheader .x-toolbar,
#wui-service .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-service .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-service .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Service Component*/


/* begin: Object COmponent*/
#wui-object .x-layout-split { height:1px; width:1px; }
.wui-object-icon { background-image: url(../images/default/component/icon-object.png) !important; }
.object-shortcut { background-image: url(../images/default/component/object-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/object-shortcut-icon.png', sizingMethod='scale');
}
#wui-object .x-panel-tbar-noheader .x-toolbar,
#wui-object .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-object .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-object .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Object COmponent*/

/* begin: VPN COmponent*/
#wui-vpn .x-layout-split { height:1px; width:1px; }
.wui-vpn-icon { background-image: url(../images/default/component/wui-vpn-icon.png) !important; }
.vpn-shortcut { background-image: url(../images/default/component/vpn-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/vpn-shortcut-icon.png', sizingMethod='scale');
}
#wui-vpn .x-panel-tbar-noheader .x-toolbar,
#wui-vpn .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-vpn .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-vpn .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: VPN COmponent*/

/* begin: Firewall Component*/
#wui-firewall .x-layout-split { height:1px; width:1px; }
.wui-firewall-icon { background-image: url(../images/default/component/wui-firewall-icon.png) !important; }
.firewall-shortcut { background-image: url(../images/default/component/firewall-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/firewall-shortcut-icon.png', sizingMethod='scale');
}
#wui-firewall .x-panel-tbar-noheader .x-toolbar,
#wui-firewall .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-firewall .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-firewall .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Firewall COmponent*/

/* begin: IMP2P Component*/
#wui-imp2p .x-layout-split { height:1px; width:1px; }
.wui-imp2p-icon { background-image: url(../images/default/component/wui-imp2p-icon.png) !important; }
.imp2p-shortcut { background-image: url(../images/default/component/imp2p-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/imp2p-shortcut-icon.png', sizingMethod='scale');
}
#wui-imp2p .x-panel-tbar-noheader .x-toolbar,
#wui-imp2p .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-imp2p .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-imp2p .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: IMP2P COmponent*/

/* begin: Authentication  Component*/
#wui-authentication .x-layout-split { height:1px; width:1px; }
.wui-authentication-icon { background-image: url(../images/default/component/wui-authentication-icon.png) !important; }
.authentication-shortcut { background-image: url(../images/default/component/authentication-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/authentication-shortcut-icon.png', sizingMethod='scale');
}
#wui-authentication .x-panel-tbar-noheader .x-toolbar,
#wui-authentication .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-authentication .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-authentication .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Authentication COmponent*/
/* begin: contentFilter Component*/
#wui-contentFilter .x-layout-split { height:1px; width:1px; }
.wui-contentFilter-icon { background-image: url(../images/default/component/wui-contentFilter-icon.png) !important; }
.contentFilter-shortcut { background-image: url(../images/default/component/contentFilter-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/contentFilter-shortcut-icon.png', sizingMethod='scale');
}
#wui-contentFilter .x-panel-tbar-noheader .x-toolbar,
#wui-contentFilter .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-contentFilter .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-contentFilter .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: contentFilter COmponent*/

/* begin: mailGateway Component*/
#wui-mailGateway .x-layout-split { height:1px; width:1px; }
.wui-mailGateway-icon { background-image: url(../images/default/component/wui-mailGateway-icon.png) !important; }
.mailGateway-shortcut { background-image: url(../images/default/component/mailGateway-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/mailGateway-shortcut-icon.png', sizingMethod='scale');
}
#wui-mailGateway .x-panel-tbar-noheader .x-toolbar,
#wui-mailGateway .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-mailGateway .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-mailGateway .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: mailGateway COmponent*/

/* begin: webSecurity Component*/
#wui-webSecurity .x-layout-split { height:1px; width:1px; }
.wui-webSecurity-icon { background-image: url(../images/default/component/wui-webSecurity-icon.png) !important; }
.webSecurity-shortcut { background-image: url(../images/default/component/webSecurity-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/webSecurity-shortcut-icon.png', sizingMethod='scale');
}
#wui-webSecurity .x-panel-tbar-noheader .x-toolbar,
#wui-webSecurity .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-webSecurity .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-webSecurity .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: webSecurity COmponent*/

/* begin: voip Component*/
#wui-voip .x-layout-split { height:1px; width:1px; }
.wui-voip-icon { background-image: url(../images/default/component/wui-voip-icon.png) !important; }
.voip-shortcut { background-image: url(../images/default/component/voip-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/voip-shortcut-icon.png', sizingMethod='scale');
}
#wui-voip .x-panel-tbar-noheader .x-toolbar,
#wui-voip .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-voip .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-voip .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: voip COmponent*/

/* begin: management Component*/
#wui-management .x-layout-split { height:1px; width:1px; }
.wui-management-icon { background-image: url(../images/default/component/icon-management.png) !important; }
.management-shortcut { background-image: url(../images/default/component/management-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/management-shortcut-icon.png', sizingMethod='scale');
}
#wui-management .x-panel-tbar-noheader .x-toolbar,
#wui-management .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-management .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-management .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: management COmponent*/

/* begin: pki Component*/
#wui-pki .x-layout-split { height:1px; width:1px; }
.wui-pki-icon { background-image: url(../images/default/component/wui-pki-icon.png) !important; }
.pki-shortcut { background-image: url(../images/default/component/pki-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/pki-shortcut-icon.png', sizingMethod='scale');
}
#wui-pki .x-panel-tbar-noheader .x-toolbar,
#wui-pki .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-pki .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-pki .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: pki COmponent*/
/* begin: accounting Component*/
#wui-accounting .x-layout-split { height:1px; width:1px; }
.wui-accounting-icon { background-image: url(../images/default/component/wui-accounting-icon.png) !important; }
.accounting-shortcut { background-image: url(../images/default/component/accounting-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/accounting-shortcut-icon.png', sizingMethod='scale');
}
#wui-accounting .x-panel-tbar-noheader .x-toolbar,
#wui-accounting .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-accounting .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-accounting .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: accounting COmponent*/

/* begin: monitoring Component*/
#wui-monitoring .x-layout-split { height:1px; width:1px; }
.wui-monitoring-icon { background-image: url(../images/default/component/wui-monitoring-icon.png) !important; }
.monitoring-shortcut { background-image: url(../images/default/component/monitoring-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/monitoring-shortcut-icon.png', sizingMethod='scale');
}
#wui-monitoring .x-panel-tbar-noheader .x-toolbar,
#wui-monitoring .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-monitoring .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-monitoring .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: monitoring COmponent*/
/* begin: AntiVirus Component*/
#wui-antivirus .x-layout-split { height:1px; width:1px; }
.wui-antivirus-icon { background-image: url(../images/default/component/wui-antivirus-icon.png) !important; }
.antivirus-shortcut { background-image: url(../images/default/component/antivirus-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/antivirus-shortcut-icon.png', sizingMethod='scale');
}
#wui-antivirus .x-panel-tbar-noheader .x-toolbar,
#wui-antivirus .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-antivirus .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-antivirus .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: antivirus COmponent*/

/* begin: HA Component*/
#wui-ha .x-layout-split { height:1px; width:1px; }
.wui-ha-icon { background-image: url(../images/default/component/wui-ha-icon.png) !important; }
.ha-shortcut { background-image: url(../images/default/component/ha-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/ha-shortcut-icon.png', sizingMethod='scale');
}
#wui-ha .x-panel-tbar-noheader .x-toolbar,
#wui-ha .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-ha .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-ha .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
.haGauge { padding-right: 20px }
/* End: Dashboard COmponent*/

/* begin: Dashboard Component*/
#wui-dashboard .x-layout-split { height:1px; width:1px; }
.wui-dashboard-icon { background-image: url(../images/default/component/wui-dashboard-icon.png) !important; }
.dashboard-shortcut { background-image: url(../images/default/component/dashboard-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/dashboard-shortcut-icon.png', sizingMethod='scale');
}
#wui-dashboard .x-panel-tbar-noheader .x-toolbar,
#wui-dashboard .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-dashboard .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-dashboard .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
.dashboardGauge { padding-right: 20px }
/* End: Dashboard COmponent*/
/* begin: WAF Component*/
#wui-waf .x-layout-split { height:1px; width:1px; }
.wui-waf-icon { background-image: url(../images/default/component/wui-about-icon.png) !important; }
.waf-shortcut { background-image: url(../images/default/component/waf-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/waf-shortcut-icon.png', sizingMethod='scale');
}
#wui-waf .x-panel-tbar-noheader .x-toolbar,
#wui-waf .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-waf .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-waf .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: WAF COmponent*/
/* begin: Policy Component*/
#wui-policy .x-layout-split { height:1px; width:1px; }
.wui-policy-icon { background-image: url(../images/default/component/wui-policies-icon.png) !important; }
.policy-shortcut { background-image: url(../images/default/component/wui-policies-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-policies-icon.png', sizingMethod='scale');
}
#wui-policy .x-panel-tbar-noheader .x-toolbar,
#wui-policy .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-policy .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-policy .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: Policy COmponent*/

/* begin: Website Component*/
#wui-website .x-layout-split { height:1px; width:1px; }
.wui-website-icon { background-image: url(../images/default/component/wui-webSecurity-icon.png) !important; }
.website-shortcut { background-image: url(../images/default/component/webSecurity-shortcut-icon.png);
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/webSecurity-shortcut-icon.png', sizingMethod='scale');
}
#wui-website .x-panel-tbar-noheader .x-toolbar,
#wui-website .x-panel-mc .x-panel-tbar .x-toolbar { border-top:0 none; }
#wui-website .x-window-tbar .x-toolbar { border-bottom:0 none !important; }
#wui-website .x-tab-strip-closable .x-tab-left{ padding-right:20px; }
/* End: website COmponent*/


.wui-members { background-image:url(../images/default/component/admin-members.png) !important; }
.icon-user-add { background-image: url(../images/default/component/user_add.gif) !important;}
.icon-next { background-image: url(../images/default/component/icon-next.png) !important;}
.icon-prev { background-image: url(../images/default/component/icon-prev.png) !important;}
.icon-user-edit { background-image: url(../images/default/component/user_edit.png) !important;}
.icon-user-delete { background-image: url(../images/default/component/user_delete.gif) !important; }
.icon-user-restore { background-image: url(../images/default/component/user_restore.png) !important; }
.icon-select-all { background-image: url(../images/default/component/select_all.gif) !important; }
.icon-user-view { background-image: url(../images/default/component/view.gif) !important; }
.icon-save { background-image: url(../images/default/component/save.gif) !important; }
.icon-send { background-image: url(../images/default/component/send.gif) !important; }
.icon-cancel { background-image: url(../images/default/component/cancel.png) !important; }
.icon-dateTime { background-image: url(../images/default/component/icon-dateTime.png) !important; }
.icon-backup { background-image: url(../images/default/component/icon-backup.png) !important; }
.icon-firmware { background-image: url(../images/default/component/icon-firmware.png) !important; }
.icon-settings { background-image: url(../images/default/component/icon-settings.png) !important; }
.icon-pages { background-image: url(../images/default/component/icon-pages.png) !important; }
.icon-images { background-image: url(../images/default/component/icon-images.png) !important; }
.icon-signatures { background-image: url(../images/default/component/icon-signatures.png) !important; }
.icon-threats{ background-image: url(../images/default/component/icon-threats.png) !important; }
.icon-snmpSettings { background-image: url(../images/default/component/icon-snmpSettings.png) !important; }
.icon-syslog { background-image: url(../images/default/component/icon-syslog.png) !important; }
.icon-email { background-image: url(../images/default/component/icon-email.png) !important; }
.icon-sms { background-image: url(../images/default/component/icon-sms.png) !important; }
.icon-communities { background-image: url(../images/default/component/icon-communities.png) !important; }
.icon-users { background-image: url(../images/default/component/icon-users.png) !important; }
.icon-snmpUser { background-image: url(../images/default/component/icon-snmpUser.png) !important; }
.icon-snmp { background-image: url(../images/default/component/icon-snmp.png) !important; }
.icon-urlFilter { background-image: url(../images/default/component/icon-urlFilter.png) !important; }
.icon-traps { background-image: url(../images/default/component/icon-traps.png) !important; }
.icon-staticRouting { background-image: url(../images/default/component/icon-staticRouting.png) !important; }
.icon-policyRouting { background-image: url(../images/default/component/icon-policyRouting.png) !important; }
.icon-interface { background-image: url(../images/default/component/icon-interface.png) !important; }
.icon-dhcp { background-image: url(../images/default/component/icon-dhcp.png) !important; }
.icon-dns { background-image: url(../images/default/component/icon-dns.png) !important; }
.icon-query, .icon-help-win { background-image: url(../images/default/component/icon-query.png) !important; }
.icon-forwarder { background-image: url(../images/default/component/icon-forwarder.png) !important; }
.icon-staticTable { background-image: url(../images/default/component/icon-staticTable.png) !important; }
.icon-arpTable { background-image: url(../images/default/component/icon-arpTable.png) !important; }
.icon-addresses { background-image: url(../images/default/component/icon-addresses.png) !important; }
.icon-service { background-image: url(../images/default/component/icon-service.png) !important; }
.icon-request { background-image: url(../images/default/component/request-icon.png) !important; }
.icon-schedules { background-image: url(../images/default/component/icon-schedules.png) !important; }
.icon-zones { background-image: url(../images/default/component/icon-zones.png) !important; }
.icon-regions { background-image: url(../images/default/component/icon-regions.png) !important; }
.icon-centers { background-image: url(../images/default/component/icon-centers.png) !important; }
.icon-offices { background-image: url(../images/default/component/icon-offices.png) !important; }
.icon-phone { background-image: url(../images/default/component/icon-phones.png) !important; }
.icon-roles { background-image: url(../images/default/component/icon-roles.png) !important; }
.icon-customers { background-image: url(../images/default/component/icon-customers.png) !important; }
.icon-takhliyeh { background-image: url(../images/default/component/icon-takhliyeh.png) !important; }
.icon-dayeries { background-image: url(../images/default/component/icon-dayeries.png) !important; }
.icon-taviz { background-image: url(../images/default/component/icon-taviz.png) !important; }
.icon-channal { background-image: url(../images/default/component/icon-channal.png) !important; }
.wui-channal-icon { background-image:url(../images/default/component/wui-channal-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-channal-icon.png', sizingMethod='scale');}
.icon-conversation { background-image: url(../images/default/component/icon-conversation.png) !important; }
.wui-conversation-icon { background-image:url(../images/default/component/wui-conversation-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-conversation-icon.png', sizingMethod='scale');}
.icon-wire { background-image: url(../images/default/component/icon-wire.png) !important; }
.wui-wire-icon { background-image:url(../images/default/component/wui-wire-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-wire-icon.png', sizingMethod='scale');}
.icon-rename { background-image: url(../images/default/component/icon-rename.png) !important; }
.wui-rename-icon { background-image:url(../images/default/component/wui-rename-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-rename-icon.png', sizingMethod='scale');}
.icon-replace { background-image: url(../images/default/component/icon-replace.png) !important; }
.wui-replace-icon { background-image:url(../images/default/component/wui-replace-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-replace-icon.png', sizingMethod='scale');}
.icon-connect { background-image: url(../images/default/component/icon-connect.png) !important; }
.wui-connect-icon { background-image:url(../images/default/component/wui-connect-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-connect-icon.png', sizingMethod='scale');}
.icon-disconnect { background-image: url(../images/default/component/icon-disconnect.png) !important; }
.wui-disconnect-icon { background-image:url(../images/default/component/wui-disconnect-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-disconnect-icon.png', sizingMethod='scale');}
.icon-install { background-image: url(../images/default/component/icon-install.png) !important; }
.wui-install-icon { background-image:url(../images/default/component/wui-install-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-install-icon.png', sizingMethod='scale');}
.icon-closeZero { background-image: url(../images/default/component/icon-closeZero.png) !important; }
.wui-closeZero-icon { background-image:url(../images/default/component/wui-closeZero-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-closeZero-icon.png', sizingMethod='scale');}
.icon-temporary { background-image: url(../images/default/component/icon-temporary.png) !important; }
.wui-temporary-icon { background-image:url(../images/default/component/wui-temporary-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-temporary-icon.png', sizingMethod='scale');}
.icon-job { background-image: url(../images/default/component/icon-job.png) !important; }
.wui-job-icon { background-image:url(../images/default/component/wui-job-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-job-icon.png', sizingMethod='scale');}
.icon-rent { background-image: url(../images/default/component/icon-rent.png) !important; }
.wui-rent-icon { background-image:url(../images/default/component/wui-rent-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-rent-icon.png', sizingMethod='scale');}
.icon-crosses { background-image: url(../images/default/component/icon-crosses.png) !important; }
.icon-switch { background-image: url(../images/default/component/icon-switch.png) !important; }
.icon-banks { background-image: url(../images/default/component/icon-banks.png) !important; }
.icon-split { background-image: url(../images/default/component/icon-split.png) !important; }
.icon-payments { background-image: url(../images/default/component/icon-payments.png) !important; }
.icon-phones { background-image: url(../images/default/component/icon-phones.png) !important; }
.icon-ippools { background-image: url(../images/default/component/icon-ippools.png) !important; }
.icon-icapServers { background-image: url(../images/default/component/icon-icapServers.png) !important; }
.icon-authentication { background-image: url(../images/default/component/icon-authentication.png) !important; }
.icon-condition { background-image: url(../images/default/component/icon-condition.png) !important; }
.icon-ldap { background-image: url(../images/default/component/icon-ldap.png) !important; }
.icon-loadBalancing { background-image: url(../images/default/component/icon-loadBalancing.png) !important; }
.icon-virtual { background-image: url(../images/default/component/icon-virtual.png) !important; }
.icon-proposals { background-image: url(../images/default/component/icon-proposals.png) !important; }
.icon-IPsec { background-image: url(../images/default/component/icon-IPsec.png) !important; }
.icon-IPsecSettings { background-image: url(../images/default/component/icon-IPsecSettings.png) !important; }
.icon-IPsecTunnels { background-image: url(../images/default/component/icon-IPSecTunnels.png) !important; }
.icon-L2TP { background-image: url(../images/default/component/icon-L2TP.png) !important; }
.icon-L2TPSettings { background-image: url(../images/default/component/icon-L2TPSettings.png) !important; }
.icon-L2TPTunnels { background-image: url(../images/default/component/icon-L2TPTunnels.png) !important; }
.icon-PPTP { background-image: url(../images/default/component/icon-PPTP.png) !important; }
.icon-PPTPSettings { background-image: url(../images/default/component/icon-PPTPSettings.png) !important; }
.icon-PPTPPeers { background-image: url(../images/default/component/icon-PPTPPeers.png) !important; }
.icon-SSL { background-image: url(../images/default/component/icon-SSL.png) !important; }
.icon-SSLSettings { background-image: url(../images/default/component/icon-SSLSettings.png) !important; }
.icon-SSLPeers { background-image: url(../images/default/component/icon-SSLPeers.png) !important; }
.icon-wizard { background-image: url(../images/default/component/icon-wizard.png) !important; }
.icon-permitted { background-image: url(../images/default/component/icon-permitted.png) !important; }
.icon-policies { background-image: url(../images/default/component/icon-policies.png) !important; }
.icon-actionPolicy { background-image: url(../images/default/component/icon-actionPolicy.png) !important; }
.icon-profiles { background-image: url(../images/default/component/icon-profiles.png) !important; }
.icon-generator { background-image: url(../images/default/component/icon-generator.png) !important; }
.icon-tax { background-image: url(../images/default/component/icon-tax.png) !important; }
.icon-general { background-image: url(../images/default/component/icon-general.png) !important; }
.icon-excludeList { background-image: url(../images/default/component/icon-excludeList.png) !important; }
.icon-servers { background-image: url(../images/default/component/icon-servers.png) !important; }
.icon-server { background-image: url(../images/default/component/icon-server.png) !important; }
.icon-blackIP { background-image: url(../images/default/component/icon-blackIP.png) !important; }
.icon-custom { background-image: url(../images/default/component/icon-custom.png) !important; }
.icon-categories { background-image: url(../images/default/component/icon-categories.png) !important; }
.icon-update { background-image: url(../images/default/component/icon-update.png) !important; }
.icon-activate { background-image: url(../images/default/component/icon-activate.png) !important; }
.icon-flood { background-image: url(../images/default/component/icon-flood.png) !important; }
.icon-sso { background-image: url(../images/default/component/icon-sso.png) !important; }
.icon-tcpDos { background-image: url(../images/default/component/icon-tcpDos.png) !important; }
.icon-udpDos { background-image: url(../images/default/component/icon-udpDos.png) !important; }
.icon-priority { background-image: url(../images/default/component/icon-priority.png) !important; }
.icon-osfe { background-image: url(../images/default/component/icon-osfe.png) !important; }
.icon-about { background-image: url(../images/default/component/about-icon.png) !important; }
.icon-audit { background-image: url(../images/default/component/audit-icon.png) !important; }
.icon-info { background-image: url(../images/default/component/info-icon.png) !important; }
.icon-attack { background-image: url(../images/default/component/attack-icon.png) !important; }
.icon-performance { background-image: url(../images/default/component/icon-performance.png) !important; }
.icon-firewall { background-image: url(../images/default/component/firewall-icon.png) !important; }
.icon-firewallLog { background-image: url(../images/default/component/icon-firewallLog.png) !important; }
.icon-rule { background-image: url(../images/default/component/rule-icon.png) !important; }
.icon-change { background-image: url(../images/default/component/icon-change.png) !important; }
.icon-routing { background-image: url(../images/default/component/icon-route.png) !important; }
.icon-url { background-image: url(../images/default/component/icon-url.png) !important; }
.icon-protection { background-image: url(../images/default/component/icon-protection.png) !important; }
.icon-report { background-image: url(../images/default/component/icon-report.png) !important; }
.icon-invoice { background-image: url(../images/default/component/icon-invoice.png) !important; }
.icon-porkars { background-image: url(../images/default/component/icon-porkars.png) !important; }
.icon-cutomerInfo { background-image: url(../images/default/component/icon-cutomerInfo.png) !important; }
.icon-cutomerInfoPostalCode { background-image: url(../images/default/component/icon-cutomerInfoPostalCode.png) !important; }
.icon-discount { background-image: url(../images/default/component/icon-discount.png) !important; }
.icon-debtCredit { background-image: url(../images/default/component/icon-debtCredit.png) !important; }
.icon-adsl { background-image: url(../images/default/component/icon-adsl.png) !important; }
.icon-debtors { background-image: url(../images/default/component/icon-debtors.png) !important; }
.icon-callDetails { background-image: url(../images/default/component/icon-callDetails.png) !important; }
.icon-request { background-image: url(../images/default/component/request-icon.png) !important; }
.icon-activeUsers { background-image: url(../images/default/component/icon-activeUser.png) !important; }
.icon-statistics { background-image: url(../images/default/component/icon-statistics.png) !important; }
.icon-suspendUser { background-image: url(../images/default/component/icon-suspendUser.png) !important; }
.icon-costs { background-image: url(../images/default/component/icon-costs.png) !important; }
.icon-types { background-image: url(../images/default/component/icon-types.png) !important; }
.icon-groups { background-image: url(../images/default/component/icon-groups.png) !important; }
.icon-urlPattern { background-image: url(../images/default/component/icon-urlPattern.png) !important; }
.icon-fileTypes { background-image: url(../images/default/component/icon-fileTypes.png) !important; }
.icon-domains { background-image: url(../images/default/component/icon-domains.png) !important; }
.icon-forwarding { background-image: url(../images/default/component/icon-forwarding.png) !important; }
.icon-trustedNetwork { background-image: url(../images/default/component/icon-trustedNetwork.png) !important; }
.icon-helo { background-image: url(../images/default/component/icon-helo.png) !important; }
.icon-recipients { background-image: url(../images/default/component/icon-recipients.png) !important; }
.icon-source-clients { background-image: url(../images/default/component/icon-source-clients.png) !important; }
.icon-senders { background-image: url(../images/default/component/icon-senders.png) !important; }
.icon-antispam { background-image: url(../images/default/component/icon-antispam.png) !important; }
.icon-antivirus { background-image: url(../images/default/component/icon-antivirus.png) !important; }
.icon-clam { background-image: url(../images/default/component/icon-clam.png) !important; }
.icon-padvish { background-image: url(../images/default/component/icon-padvish.png) !important; }
.icon-blackList { background-image: url(../images/default/component/icon-blackList.png) !important; }
.icon-vip { background-image: url(../images/default/component/icon-vip.png) !important; }
.icon-blackListSpam { background-image: url(../images/default/component/icon-blackListSpam.png) !important; }
.icon-log { background-image: url(../images/default/component/icon-log.png) !important; }
.icon-logSettings { background-image: url(../images/default/component/icon-logSettings.png) !important; }
.icon-ha { background-image: url(../images/default/component/icon-ha.png) !important; }
.icon-queue { background-image: url(../images/default/component/icon-queue.png) !important; }
.icon-options { background-image: url(../images/default/component/icon-options.png) !important; }
.icon-wsOption { background-image: url(../images/default/component/icon-wsOption.png) !important; }
.icon-wsGeneral { background-image: url(../images/default/component/icon-wsGeneral.png) !important; }
.icon-settingenable { background-image: url(../images/default/component/icon-settingenable.png) !important; }
.icon-contentArchiving { background-image: url(../images/default/component/icon-contentArchiving.png) !important; }
.icon-virusChecking { background-image: url(../images/default/component/icon-virusChecking.png) !important; }
.icon-externalURLFiltering { background-image: url(../images/default/component/icon-urlPattern.png) !important; }
.icon-advanced { background-image: url(../images/default/component/icon-advanced.png) !important; }
.icon-administrators { background-image: url(../images/default/component/icon-administrators.png) !important; }
.icon-manager { background-image: url(../images/default/component/icon-manager.png) !important; }
.icon-web { background-image: url(../images/default/component/icon-web.png) !important; }
.icon-summery { background-image: url(../images/default/component/icon-summery.png) !important; }
.icon-channels { background-image: url(../images/default/component/icon-channels.png) !important; }
.icon-system { background-image: url(../images/default/component/icon-system.png) !important; }
.icon-object { background-image: url(../images/default/component/icon-object.png) !important; }
.icon-network { background-image: url(../images/default/component/icon-network.png) !important; }
.icon-management { background-image: url(../images/default/component/icon-management.png) !important; }
.icon-activeList { background-image: url(../images/default/component/icon-activeList.png) !important; }
.icon-ipAccounting { background-image: url(../images/default/component/icon-ipAccounting.png) !important; }
.icon-userAccounting { background-image: url(../images/default/component/icon-userAccounting.png) !important; }
.icon-activeSessionList { background-image: url(../images/default/component/icon-activeSessionList.png) !important; }
.icon-dialupConfiguration { background-image: url(../images/default/component/icon-dialupConfiguration.png) !important; }
.icon-activeTunnel { background-image: url(../images/default/component/icon-activeTunnel.png) !important; }
.icon-activeCalls { background-image: url(../images/default/component/icon-activeCalls.png) !important; }
.icon-informationLeakage { background-image: url(../images/default/component/icon-informationLeakage.png) !important; }
.icon-certificates { background-image: url(../images/default/component/icon-certificates.png) !important; }
.icon-header { background-image: url(../images/default/component/icon-header.png) !important; }
.icon-body { background-image: url(../images/default/component/icon-body.png) !important; }
.icon-caching { background-image: url(../images/default/component/icon-caching.png) !important; }
.icon-compression { background-image: url(../images/default/component/icon-compression.png) !important; }
.icon-accessTime { background-image: url(../images/default/component/icon-accessTime.png) !important; }
.icon-bandwidthLimit { background-image: url(../images/default/component/icon-bandwidthLimit.png) !important; }
.icon-quotaTime { background-image: url(../images/default/component/icon-quotaTime.png) !important; }
.icon-trafficQuota { background-image: url(../images/default/component/icon-trafficQuota.png) !important; }
.icon-errorcode { background-image: url(../images/default/component/icon-errorcode.png) !important; }
.icon-redirect { background-image: url(../images/default/component/icon-redirect.png) !important; }
.icon-cloaking { background-image: url(../images/default/component/icon-cloaking.png) !important; }
.icon-icap { background-image: url(../images/default/component/icon-icap.png) !important; }
.wui-arrow-rotate-icon { background-image: url(../images/default/component/arrow_rotate_clockwise.png) !important; }
.wui-attack-icon { background-image:url(../images/default/component/wui-attack-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-attack-icon.png', sizingMethod='scale');}
.wui-preference-icon { background-image:url(../images/default/component/wui-preference-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-preference-icon.png', sizingMethod='scale');}
.wui-firewall-log-icon { background-image:url(../images/default/component/firewall-shortcut-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/firewall-shortcut-icon.png', sizingMethod='scale');}
.wui-firewallLog-icon { background-image:url(../images/default/component/wui-firewallLog-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-firewallLog-icon.png', sizingMethod='scale');}
.wui-about-icon { background-image:url(../images/default/component/wui-about-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-about-icon.png', sizingMethod='scale');}
.wui-rule-icon { background-image:url(../images/default/component/wui-rule-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-rule-icon.png', sizingMethod='scale');}
.wui-audit-icon { background-image:url(../images/default/component/wui-audit-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-audit-icon.png', sizingMethod='scale');}
.wui-settings-icon { background-image:url(../images/default/component/wui-settings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-settings-icon.png', sizingMethod='scale');}
.wui-images-icon { background-image:url(../images/default/component/wui-images-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-images-icon.png', sizingMethod='scale');}
.wui-pages-icon { background-image:url(../images/default/component/wui-pages-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-pages-icon.png', sizingMethod='scale');}
.wui-users-icon { background-image:url(../images/default/component/wui-users-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-users-icon.png', sizingMethod='scale');}
.wui-suspendUser-icon { background-image:url(../images/default/component/wui-suspendUser-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-suspendUser-icon.png', sizingMethod='scale');}
.wui-servers-icon { background-image:url(../images/default/component/wui-servers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-servers-icon.png', sizingMethod='scale');}
.wui-server-icon { background-image:url(../images/default/component/wui-server-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-server-icon.png', sizingMethod='scale');}
.wui-groups-icon { background-image:url(../images/default/component/wui-groups-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-groups-icon.png', sizingMethod='scale');}
.wui-accessTime-icon { background-image:url(../images/default/component/wui-accessTime-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-accessTime-icon.png', sizingMethod='scale');}
.wui-bandwidthLimit-icon { background-image:url(../images/default/component/wui-bandwidthLimit-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-bandwidthLimit-icon.png', sizingMethod='scale');}
.wui-quotaTime-icon { background-image:url(../images/default/component/wui-quotaTime-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-quotaTime-icon.png', sizingMethod='scale');}
.wui-trafficQuota-icon { background-image:url(../images/default/component/wui-trafficQuota-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-trafficQuota-icon.png', sizingMethod='scale');}
.wui-urlPattern-icon { background-image:url(../images/default/component/wui-urlPattern-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-urlPattern-icon.png', sizingMethod='scale');}
.wui-fileTypes-icon { background-image:url(../images/default/component/wui-fileTypes-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-fileTypes-icon.png', sizingMethod='scale');}
.wui-url-icon { background-image:url(../images/default/component/wui-url-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-url-icon.png', sizingMethod='scale');}
.wui-protection-icon { background-image:url(../images/default/component/wui-protection-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-protection-icon.png', sizingMethod='scale');}
.wui-profiles-icon { background-image:url(../images/default/component/wui-profiles-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-profiles-icon.png', sizingMethod='scale');}
.wui-generator-icon { background-image:url(../images/default/component/wui-generator-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-generator-icon.png', sizingMethod='scale');}
.wui-tax-icon { background-image:url(../images/default/component/wui-tax-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-tax-icon.png', sizingMethod='scale');}
.wui-costs-icon { background-image:url(../images/default/component/wui-costs-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-costs-icon.png', sizingMethod='scale');}
.wui-types-icon { background-image:url(../images/default/component/wui-types-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-types-icon.png', sizingMethod='scale');}
.wui-update-icon { background-image:url(../images/default/component/wui-update-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-update-icon.png', sizingMethod='scale');}
.wui-activate-icon { background-image:url(../images/default/component/wui-activate-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activate-icon.png', sizingMethod='scale');}
.wui-policies-icon { background-image:url(../images/default/component/wui-policies-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-policies-icon.png', sizingMethod='scale');}
.wui-actionPolicy-icon { background-image:url(../images/default/component/wui-actionPolicy-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-actionPolicy-icon.png', sizingMethod='scale');}
.wui-errorcode-icon { background-image:url(../images/default/component/wui-errorcode-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-errorcode-icon.png', sizingMethod='scale');}
.wui-activeUser-icon { background-image:url(../images/default/component/wui-activeUser-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activeUser-icon.png', sizingMethod='scale');}
.wui-statistics-icon { background-image:url(../images/default/component/wui-statistics-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-statistics-icon.png', sizingMethod='scale');}
.wui-general-icon { background-image:url(../images/default/component/wui-general-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-general-icon.png', sizingMethod='scale');}
.wui-excludeList-icon { background-image:url(../images/default/component/wui-excludeList-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-excludeList-icon.png', sizingMethod='scale');}
.wui-blackList-icon { background-image:url(../images/default/component/wui-blackList-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-blackList-icon.png', sizingMethod='scale');}
.wui-vip-icon { background-image:url(../images/default/component/wui-vip-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-vip-icon.png', sizingMethod='scale');}
.wui-blackListSpam-icon { background-image:url(../images/default/component/wui-blackListSpam-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-blackListSpam-icon.png', sizingMethod='scale');}
.wui-categories-icon { background-image:url(../images/default/component/wui-categories-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-categories-icon.png', sizingMethod='scale');}
.wui-custom-icon { background-image:url(../images/default/component/wui-custom-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-custom-icon.png', sizingMethod='scale');}
.wui-takhliyeh-icon { background-image:url(../images/default/component/wui-takhliyeh-icon.png); background-repeat:none; border:0 none; height:48px;width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-custom-icon.png', sizingMethod='scale');}
.wui-dayeries-icon { background-image:url(../images/default/component/wui-dayeries-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-dayeries-icon.png', sizingMethod='scale');}
.wui-taviz-icon { background-image:url(../images/default/component/wui-taviz-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-taviz-icon.png', sizingMethod='scale');}
.wui-flood-icon { background-image:url(../images/default/component/wui-flood-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-flood-icon.png', sizingMethod='scale');}
.wui-sso-icon { background-image:url(../images/default/component/wui-sso-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-sso-icon.png', sizingMethod='scale');}
.wui-tcpDoS-icon { background-image:url(../images/default/component/wui-tcpDoS-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-tcpDoS-icon.png', sizingMethod='scale');}
.wui-udpDoS-icon { background-image:url(../images/default/component/wui-udpDoS-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-udpDoS-icon.png', sizingMethod='scale');}
.wui-osfe-icon { background-image:url(../images/default/component/wui-osfe-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-osfe-icon.png', sizingMethod='scale');}
.wui-priority-icon { background-image:url(../images/default/component/wui-priority-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-priority-icon.png', sizingMethod='scale');}
.wui-domains-icon { background-image:url(../images/default/component/wui-domains-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-domains-icon.png', sizingMethod='scale');}
.wui-forwarding-icon { background-image:url(../images/default/component/wui-forwarding-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-forwarding-icon.png', sizingMethod='scale');}
.wui-trustedNetwork-icon { background-image:url(../images/default/component/wui-trustedNetwork-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-trustedNetwork-icon.png', sizingMethod='scale');}
.wui-helo-icon { background-image:url(../images/default/component/wui-helo-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-helo-icon.png', sizingMethod='scale');}
.wui-recipients-icon { background-image:url(../images/default/component/wui-recipients-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-recipients-icon.png', sizingMethod='scale');}
.wui-senders-icon { background-image:url(../images/default/component/wui-senders-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-senders-icon.png', sizingMethod='scale');}
.wui-sourceClients-icon { background-image:url(../images/default/component/wui-sourceClients-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-sourceClients-icon.png', sizingMethod='scale');}
.wui-antispam-icon { background-image:url(../images/default/component/wui-antispam-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-antispam-icon.png', sizingMethod='scale');}
.wui-antivirus-icon { background-image:url(../images/default/component/wui-antivirus-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-antivirus-icon.png', sizingMethod='scale');}
.wui-clam-icon { background-image:url(../images/default/component/wui-clam-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-clam-icon.png', sizingMethod='scale');}
.wui-padvish-icon { background-image:url(../images/default/component/wui-padvish-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-padvish-icon.png', sizingMethod='scale');}
.wui-log-icon { background-image:url(../images/default/component/wui-log-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-log-icon.png', sizingMethod='scale');}
.wui-queue-icon { background-image:url(../images/default/component/wui-queue-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-queue-icon.png', sizingMethod='scale');}
.wui-administrators-icon { background-image:url(../images/default/component/wui-administrators-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-administrators-icon.png', sizingMethod='scale');}
.wui-manager-icon { background-image:url(../images/default/component/wui-manager-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-manager-icon.png', sizingMethod='scale');}
.wui-channels-icon { background-image:url(../images/default/component/wui-channels-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-channels-icon.png', sizingMethod='scale');}
.wui-activeList-icon { background-image:url(../images/default/component/wui-activeList-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activeList-icon.png', sizingMethod='scale');}
.wui-interface-icon { background-image:url(../images/default/component/wui-interface-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-interface-icon.png', sizingMethod='scale');}
.wui-informationLeakage-icon { background-image:url(../images/default/component/wui-informationLeakage-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-informationLeakage-icon.png', sizingMethod='scale');}
.wui-userAccounting-icon { background-image:url(../images/default/component/wui-userAccounting-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-userAccounting-icon.png', sizingMethod='scale');}
.wui-ipAccounting-icon { background-image:url(../images/default/component/wui-ipAccounting-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-ipAccounting-icon.png', sizingMethod='scale');}
.wui-summery-icon { background-image:url(../images/default/component/wui-summery-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-summery-icon.png', sizingMethod='scale');}
.wui-system-information-icon { background-image:url(../images/default/component/wui-system-information-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-system-information-icon.png', sizingMethod='scale');}
.wui-activeSessionList-icon { background-image:url(../images/default/component/wui-activeSessionList-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activeSessionList-icon.png', sizingMethod='scale');}
.wui-dialupConfiguration-icon { background-image:url(../images/default/component/wui-dialupConfiguration-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-dialupConfiguration-icon.png', sizingMethod='scale');}
.wui-activeTunnel-icon { background-image:url(../images/default/component/wui-activeTunnel-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activeTunnel-icon.png', sizingMethod='scale');}
.wui-activeCalls-icon { background-image:url(../images/default/component/wui-activeCalls-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-activeCalls-icon.png', sizingMethod='scale');}
.wui-staticRouting-icon { background-image:url(../images/default/component/wui-staticRouting-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-staticRouting-icon.png', sizingMethod='scale');}
.wui-reports-icon { background-image:url(../images/default/component/wui-report-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-report-icon.png', sizingMethod='scale');}
.wui-invoice-icon { background-image:url(../images/default/component/wui-invoice-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-invoice-icon.png', sizingMethod='scale');}
.wui-debtors-icon { background-image:url(../images/default/component/wui-debtors-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-debtors-icon.png', sizingMethod='scale');}
.wui-porkars-icon { background-image:url(../images/default/component/wui-porkars-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-porkars-icon.png', sizingMethod='scale');}
.wui-discount-icon { background-image:url(../images/default/component/wui-discount-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-discount-icon.png', sizingMethod='scale');}
.wui-debtCredit-icon { background-image:url(../images/default/component/wui-debtCredit-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-debtCredit-icon.png', sizingMethod='scale');}
.wui-cutomerInfo-icon { background-image:url(../images/default/component/wui-cutomerInfo-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-cutomerInfo-icon.png', sizingMethod='scale');}
.wui-cutomerInfoPostalCode-icon { background-image:url(../images/default/component/wui-cutomerInfoPostalCode-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-cutomerInfoPostalCode-icon.png', sizingMethod='scale');}
.wui-adsl-icon { background-image:url(../images/default/component/wui-adsl-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-adsl-icon.png', sizingMethod='scale');}
.wui-callDetails-icon { background-image:url(../images/default/component/wui-callDetails-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-callDetails-icon.png', sizingMethod='scale');}
.wui-staticTable-icon { background-image:url(../images/default/component/wui-staticTable-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-staticTable-icon.png', sizingMethod='scale');}
.wui-dhcp-icon { background-image:url(../images/default/component/wui-dhcp-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-dhcp-icon.png', sizingMethod='scale');}
.wui-policyRouting-icon { background-image:url(../images/default/component/wui-policyRouting-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-policyRouting-icon.png', sizingMethod='scale');}
.wui-dns-icon { background-image:url(../images/default/component/wui-dns-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-dns-icon.png', sizingMethod='scale');}
.wui-query-icon { background-image:url(../images/default/component/wui-query-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-query-icon.png', sizingMethod='scale');}
.wui-forwarder-icon { background-image:url(../images/default/component/wui-forwarder-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-forwarder-icon.png', sizingMethod='scale');}
.wui-arpTable-icon { background-image:url(../images/default/component/wui-arpTable-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-arpTable-icon.png', sizingMethod='scale');}
.wui-addresses-icon { background-image:url(../images/default/component/wui-addresses-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-addresses-icon.png', sizingMethod='scale');}
.wui-schedules-icon { background-image:url(../images/default/component/wui-schedules-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-schedules-icon.png', sizingMethod='scale');}
.wui-zones-icon { background-image:url(../images/default/component/wui-zones-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-zones-icon.png', sizingMethod='scale');}
.wui-regions-icon { background-image:url(../images/default/component/wui-regions-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-regions-icon.png', sizingMethod='scale');}
.wui-centers-icon { background-image:url(../images/default/component/wui-centers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-centers-icon.png', sizingMethod='scale');}
.wui-offices-icon { background-image:url(../images/default/component/wui-offices-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-offices-icon.png', sizingMethod='scale');}
.wui-customers-icon { background-image:url(../images/default/component/wui-customers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-customers-icon.png', sizingMethod='scale');}
.wui-crosses-icon { background-image:url(../images/default/component/wui-crosses-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-crosses-icon.png', sizingMethod='scale');}
.wui-roles-icon { background-image:url(../images/default/component/wui-roles-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-roles-icon.png', sizingMethod='scale');}
.wui-switch-icon { background-image:url(../images/default/component/wui-switch-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-switch-icon.png', sizingMethod='scale');}
.wui-payments-icon { background-image:url(../images/default/component/wui-payments-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-payments-icon.png', sizingMethod='scale');}
.wui-banks-icon { background-image:url(../images/default/component/wui-banks-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-banks-icon.png', sizingMethod='scale');}
.wui-split-icon { background-image:url(../images/default/component/wui-split-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-split-icon.png', sizingMethod='scale');}
.wui-phones-icon { background-image:url(../images/default/component/wui-phones-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-phones-icon.png', sizingMethod='scale');}
.wui-ippools-icon { background-image:url(../images/default/component/wui-ippools-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-ippools-icon.png', sizingMethod='scale');}
.wui-icapServers-icon { background-image:url(../images/default/component/wui-icapServers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-icapServers-icon.png', sizingMethod='scale');}
.wui-authentication-waf-icon { background-image:url(../images/default/component/wui-authentication-waf-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-authentication-waf-icon.png', sizingMethod='scale');}
.wui-ldap-icon { background-image:url(../images/default/component/wui-ldap-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-ldap-icon.png', sizingMethod='scale');}
.wui-condition-icon { background-image:url(../images/default/component/wui-condition-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-condition-icon.png', sizingMethod='scale');}
.wui-loadBalancing-icon { background-image:url(../images/default/component/wui-loadBalancing-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-loadBalancing-icon.png', sizingMethod='scale');}
.wui-virtual-icon { background-image:url(../images/default/component/wui-virtual-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-virtual-icon.png', sizingMethod='scale');}
.wui-certificates-icon { background-image:url(../images/default/component/wui-certificates-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-certificates-icon.png', sizingMethod='scale');}
.wui-header-icon { background-image:url(../images/default/component/wui-header-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-header-icon.png', sizingMethod='scale');}
.wui-compression-icon { background-image:url(../images/default/component/wui-compression-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-compression-icon.png', sizingMethod='scale');}
.wui-caching-icon { background-image:url(../images/default/component/wui-caching-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-caching-icon.png', sizingMethod='scale');}
.wui-body-icon { background-image:url(../images/default/component/wui-body-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-body-icon.png', sizingMethod='scale');}
.wui-dateTime-icon { background-image:url(../images/default/component/wui-dateTime-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-dateTime-icon.png', sizingMethod='scale');}
.wui-backup-icon { background-image:url(../images/default/component/wui-backup-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-backup-icon.png', sizingMethod='scale');}
.wui-firmware-icon { background-image:url(../images/default/component/wui-firmware-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-firmware-icon.png', sizingMethod='scale');}
.wui-syslog-icon { background-image:url(../images/default/component/wui-syslog-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-syslog-icon.png', sizingMethod='scale');}
.wui-email-icon { background-image:url(../images/default/component/wui-email-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-email-icon.png', sizingMethod='scale');}
.wui-sms-icon { background-image:url(../images/default/component/wui-sms-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-sms-icon.png', sizingMethod='scale');}
.wui-communities-icon { background-image:url(../images/default/component/wui-communities-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-communities-icon.png', sizingMethod='scale');}
.wui-traps-icon { background-image:url(../images/default/component/wui-traps-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-traps-icon.png', sizingMethod='scale');}
.wui-snmpUser-icon { background-image:url(../images/default/component/wui-snmpUser-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-snmpUser-icon.png', sizingMethod='scale');}
.wui-snmpSettings-icon { background-image:url(../images/default/component/wui-snmpSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-snmpSettings-icon.png', sizingMethod='scale');}
.wui-logSettings-icon { background-image:url(../images/default/component/wui-logSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-logSettings-icon.png', sizingMethod='scale');}
.wui-advanced-icon { background-image:url(../images/default/component/wui-advanced-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-advanced-icon.png', sizingMethod='scale');}
.wui-proposals-icon { background-image:url(../images/default/component/wui-proposals-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-proposals-icon.png', sizingMethod='scale');}
.wui-IPsecSettings-icon { background-image:url(../images/default/component/wui-IPsecSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-IPsecSettings-icon.png', sizingMethod='scale');}
.wui-IPSecTunnels-icon { background-image:url(../images/default/component/wui-IPSecTunnels-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-IPSecTunnels-icon.png', sizingMethod='scale');}
.wui-wizard-icon { background-image:url(../images/default/component/wui-wizard-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-wizard-icon.png', sizingMethod='scale');}
.wui-L2TPSettings-icon { background-image:url(../images/default/component/wui-L2TPSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-L2TPSettings-icon.png', sizingMethod='scale');}
.wui-L2TPTunnels-icon { background-image:url(../images/default/component/wui-L2TPTunnels-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-L2TPTunnels-icon.png', sizingMethod='scale');}
.wui-PPTPSettings-icon { background-image:url(../images/default/component/wui-PPTPSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-PPTPSettings-icon.png', sizingMethod='scale');}
.wui-PPTPPeers-icon { background-image:url(../images/default/component/wui-PPTPPeers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-PPTPPeers-icon.png', sizingMethod='scale');}
.wui-SSLSettings-icon { background-image:url(../images/default/component/wui-SSLSettings-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-SSLSettings-icon.png', sizingMethod='scale');}
.wui-SSLPeers-icon { background-image:url(../images/default/component/wui-SSLPeers-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-SSLPeers-icon.png', sizingMethod='scale');}
.wui-permitted-icon { background-image:url(../images/default/component/wui-permitted-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-permitted-icon.png', sizingMethod='scale');}
.wui-performance-icon { background-image:url(../images/default/component/wui-performance-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-performance-icon.png', sizingMethod='scale');}
.wui-options-icon { background-image:url(../images/default/component/wui-options-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-options-icon.png', sizingMethod='scale');}
.wui-wsOption-icon { background-image:url(../images/default/component/wui-wsOption-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-wsOption-icon.png', sizingMethod='scale');}
.wui-wsGeneral-icon { background-image:url(../images/default/component/wui-wsGeneral-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-wsGeneral-icon.png', sizingMethod='scale');}
.wui-settingenable-icon { background-image:url(../images/default/component/wui-settingenable-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-settingenable-icon.png', sizingMethod='scale');}
.wui-contentArchiving-icon { background-image:url(../images/default/component/wui-contentArchiving-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-contentArchiving-icon.png', sizingMethod='scale');}
.wui-virusChecking-icon { background-image:url(../images/default/component/wui-virusChecking-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-virusChecking-icon.png', sizingMethod='scale');}
.wui-urlFiltering-icon { background-image:url(../images/default/component/wui-urlPattern-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-urlPattern-icon.png', sizingMethod='scale');}
.wui-urlFilter-icon { background-image:url(../images/default/component/wui-urlFilter-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-urlFilter-icon.pn', sizingMethod='scale');}
.wui-cloaking-icon { background-image:url(../images/default/component/wui-cloaking-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-cloaking-icon.pn', sizingMethod='scale');}
.wui-advanced-icon { background-image:url(../images/default/component/wui-advanced-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-advanced-icon.png', sizingMethod='scale');}
.wui-securityPolicy-icon { background-image:url(../images/default/component/security-policy.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-urlPattern-icon.png', sizingMethod='scale');}
.wui-icap-icon { background-image:url(../images/default/component/wui-icap-icon.png); background-repeat:none; border:0 none; height:48px; width:48px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/default/component/wui-icap-icon.png', sizingMethod='scale');}
#wui-status { background-color:#f1f1f1; }
.wui-group { background-image:url(../images/default/component/group16x16.gif) !important; }
.wui-member { background-image:url(../images/default/component/member16x16.gif) !important; }
.x-hide-display-action {
cursor:default !important;
}
ul.wui-nav-list { height: 90px; margin-top: 20px; list-style:none; }
.wui-nav-list li { float:left; text-align:center; width:100px;height:90px }
.wui-nav-list a { color:#0000ff; text-decoration:none;cursor:pointer; }
.wui-nav-list-header { }
.wui-nav-list-header h4 { padding-left: 20px }
.wui-nav-list-header { background: url("../images/2.png") no-repeat scroll transparent left bottom; padding: 7px 0 }
.wui-nav-list-header-rtl { background: url("../images/3.png") no-repeat scroll transparent right bottom; padding: 7px 0 }


/* begin: detail panel */

/* begin: list grid */
.active-check { background: transparent url(../images/default/component/check.gif) no-repeat center 1px; cursor:pointer; height:16px; width:98%; }
.wui-row-delete { background: transparent url(../images/default/component/user_delete.gif) no-repeat center 1px; cursor:pointer; height:16px; width:16px;}
.wui-row-edit { background: transparent url(../images/default/component/user_edit.gif) no-repeat center 1px; cursor:pointer; height:16px; width:16px;}
.wui-row-import { background: transparent url(../images/default/component/user_import.png) no-repeat center 1px; cursor:pointer; height:16px; width:16px;float:left }
.wui-row-no-delete { height:16px; width:16px;float:left; }
.wui-row-no-edit { height:16px; width:16px;float:left; }
.wui-row-view { background: transparent url(../images/default/component/view.gif) no-repeat center 1px; cursor:pointer; height:16px; width:16px;float:left }
.active-check-over { background: transparent url(../images/default/component/check.gif) no-repeat center -31px; }
.active-col-hd { background: transparent url(../images/default/component/hd-check.gif) no-repeat center center; cursor:default; height:12px; width:98%; }
.x-grid3-body .x-grid3-td-active-col .x-grid3-cell-inner { padding: 1px 0 0 0 !important; }
.x-grid3-td-active-title .x-grid3-cell-inner { white-space:normal; }
.controlBtn {padding-left: 4px;cursor: pointer;}
.wui-refresh { background-image:url(../images/default/component/action-refresh16x16.gif) !important; }
.x-form-add-trigger {
    background-image: url(../images/default/form/add-trigger.gif) !important;
}
text{
   direction: ltr;
}
.high-cell { 
    background: url(../images/high-icon.png) no-repeat;
    background-position: center;  
}
.mid-cell { 
    background: url(../images/medium-icon.png) no-repeat;
    background-position: center;   
}
.low-cell { 
    background: url(../images/low-icon.png) no-repeat; 
    background-position: center;  
} 
.unknown-cell { 
    background: url(../images/unknown-icon.png) no-repeat;
    background-position: center;   
}  
.high-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
    font-size: 112%;
} 
.medium-row .x-grid-cell { 
    background-color: #f1ffa5; 
    color: #454c1f; 
    font-size: 110%;
}
.low-row .x-grid-cell { 
    background-color: #c0f7b8; 
    color: #135b08; 
    font-size: 108%;
}
.unknown-row .x-grid-cell { 
    background-color: #D0D0D0; 
    color: #3e3e3e; 
    font-size: 105%;
}
.signature-detail-cell { 
    background: url(../images/signature-detail-icon.png) no-repeat;
    background-position: right;   
}
.packet-detail-cell { 
    background: url(../images/packet-detail-icon.png) no-repeat;
    background-position: right;   
}