/*-------------------------
		Simple reset
	--------------------------*/


	*{
		margin:0;
		padding:0;
	}


	/*-------------------------
		General Styles
	--------------------------*/


	html{
		/*background:url('../img/bg_tile.jpg') #161718;*/
	}

	body{
		background: url("../img/room.jpg") no-repeat scroll 0 0;
	    min-height: 600px;
	    padding: 100px 0 0;
	    font: 14px/1.3 tahoma,ubuntu,'Segoe UI',Arial, sans-serif;
		background-size:100%;
	}

	a, a:visited {
		text-decoration:none;
		outline:none;
		color:#54a6de;
	}

	a:hover{
		text-decoration:underline;
	}

	section, footer{
		display: block;
	}


	/*----------------------------
		Styling the forms
	-----------------------------*/


	#formContainer{
		width:500px;
		height:370px;
		margin:0 auto;
		position:relative;
		z-index:1;
	
		-moz-perspective: 800px;
		-webkit-perspective: 800px;
		perspective: 800px;
	}

	#formContainer form{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		border-radius: 6px;
	
		/* Enabling 3d space for the transforms */
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	
		/* When the forms are flipped, they will be hidden */
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	
		/* Enabling a smooth animated transition */
		-moz-transition:0.8s;
		-webkit-transition:0.8s;
		transition:0.8s;
	
		/* Configure a keyframe animation for Firefox */
		/*-moz-animation: pulse 2s infinite;*/
	
		/* Configure it for Chrome and Safari */
		/*-webkit-animation: pulse 2s infinite;*/
	}


	/* Firefox Keyframe Animation */
	@-moz-keyframes pulse{
		0%{		box-shadow:0 0 1px #008aff;}
		50%{	box-shadow:0 0 8px #008aff;}
		100%{	box-shadow:0 0 1px #008aff;}
	}

	/* Webkit keyframe animation */
	@-webkit-keyframes pulse{
		0%{		box-shadow:0 0 1px #008aff;}
		50%{	box-shadow:0 0 10px #008aff;}
		100%{	box-shadow:0 0 1px #008aff;}
	}

	#login{
		background:none;
		z-index:100;
	}

	#recover{
		/*background:url('../img/recover_form_bg.jpg') no-repeat;*/
		background-color:#CCCCCC;
		z-index:1;
		opacity:0;
	
		/* Rotating the recover password form by default */
		-moz-transform:rotateY(180deg);
		-webkit-transform:rotateY(180deg);
		transform:rotateY(180deg);
	}

	#formContainer.flipped #login{
	
		opacity:0;
	
		/**
		 * Rotating the login form when the
		 * flipped class is added to the container
		 */
	
		-moz-transform:rotateY(-180deg);
		-webkit-transform:rotateY(-180deg);
		transform:rotateY(-180deg);
	}

	#formContainer.flipped #recover{
	
		opacity:1;
	
		/* Rotating the recover div into view */
		-moz-transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg);
		transform:rotateY(0deg);
		border-radius: 6px;
	}


	/*----------------------------
		Inputs, Buttons & Links
	-----------------------------*/


	#login .flipLink,
	#recover .flipLink{
	
		/* The blue ribbon links */
	
		height: 65px;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    text-indent: -9999px;
	    top: 0;
	    width: 65px;
	}

	#recover .flipLink{
		right:auto;
		left:0;
	}

	#login:after{
		/* The "Click here" tooltip */
		width:98px;
		height:16px;
		content:'';
		background:url('../img/click_here.png') no-repeat;
		position:absolute;
		right:-120px;
		top:22px;
	}

	input[type=text],input[type=password]{
		/* The text fields */
		font: 15px tahoma,'Segoe UI',Arial,sans-serif;
		border: none;
		background-color: rgba(0, 0, 0, 0.1);
		height: 36px;
		left: 5%;
		position: absolute;
		text-align:center;
		top: 26px;
		width: 90%;
		text-indent: 8px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		color:#eee;
		outline:none;
	}

	.logfield{
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	    border-bottom: 1px solid grey !important;
	    color: black !important;
	}

	#password{
		top: 65px;
	}

	#recoverEmail{
		top:215px;
	}

	#UImode{

	    border: medium none;
	    background:rgba(0,0,0,0.1);
	    color:#000;
	    cursor: pointer;
	    font: 14px/36px tahoma,ubuntu,'Segoe UI Light','Segoe UI',Arial,sans-serif;
	    height: 26px;
	    left: 50%;
	    opacity: 0.9;
	    position: absolute;
	    text-shadow: 0 0 10px #FFFFFF;
	    top: 110px;
	    width: 45%;
	    border-bottom:1px solid grey;
	}

	#lang{

	    border: medium none;
	    background:rgba(0,0,0,0.1);
	    color:#000;
	    cursor: pointer;
	    font: 14px/36px tahoma,ubuntu,'Segoe UI Light','Segoe UI',Arial,sans-serif;
	    height: 26px;
	    left: 5%;
	    opacity: 0.9;
	    position: absolute;
	    text-shadow: 0 0 10px #FFFFFF;
	    top: 110px;
	    width: 44%;
	    border-bottom:1px solid grey;
	}

	#submitBtn{
	
		/* Submit button */
	
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
		    border: medium none;
		    border-radius: 0;
		    box-shadow: 0 0 3px #cccccc inset;
		    color: black;
		    cursor: pointer;
		    font: 14px/36px tahoma,ubuntu,'Segoe UI Light','Segoe UI',Arial,sans-serif;
		    height: 36px;
		    left: 25px;
		    opacity: 0.9;
		    position: absolute;
		    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
		    top: 104px;
		    width: 90%;
	
		/* CSS3 Gradients */
	
		/*background-image: linear-gradient(bottom, #064163 50%, #024363 50%, #4D86A3 100%);
		background-image: -o-linear-gradient(bottom, #064163 50%, #024363 50%, #4D86A3 100%);
		background-image: -moz-linear-gradient(bottom, #064163 50%, #024363 50%, #4D86A3 100%);
		background-image: -webkit-linear-gradient(bottom, #064163 50%, #024363 50%, #4D86A3 100%);
		background-image: -ms-linear-gradient(bottom, #064163 50%, #024363 50%, #4D86A3 100%);
	
		background-image: /*-webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.5, rgb(80,102,127)),
			color-stop(0.5, rgb(87,109,136)),
			color-stop(1, rgb(106,129,155))
		);*/
		-webkit-gradient( linear, left bottom, left top, color-stop(0.5, #064163), color-stop(0.5, #024363), color-stop(1, #4D86A3) );
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	}

	input[type=submit]:hover{
		opacity:1;
	}

	input::-webkit-input-placeholder {
	    color:#eee;
	}


	/*----------------------------
		The Footer
	-----------------------------*/


	footer{
		background-color: #111111;
		bottom: 0;
		box-shadow: 0 -1px 2px #111111;
		height: 45px;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 100000;
	}

	footer h2{
		color: #EEEEEE;
		font-size: 14px;
		font-weight: normal;
		left: 50%;
		margin-left: -400px;
		padding: 13px 0 0;http://192.168.26.86/login.html
		position: absolute;
		width: 540px;
	}

	footer h2 i{
		font-style:normal;
		color:#888;
	}

	footer a.tzine,a.tzine:visited{
		color: #999999;
		font-size: 12px;
		left: 50%;
		margin: 16px 0 0 110px;
		position: absolute;
		text-decoration: none;
		top: 0;
	}

	footer a i{
		color:#ccc;
		font-style: normal;
	}

	footer a i b{
		color:#c92020;
		font-weight: normal;
	}

	#loading-status
	{
	
		margin-left:80px;
		margin-top:45px;
		display:block;
		width:128px;
		height:128px;

	}
	#loading-spin {
		width:128px;
		height:128px;
	background-image:url('../img/login-loading.gif');
		background-repeat:no-repeat;
	}
	.err-label
	{
	width:288px;
	height:50px;
	text-align:center;
	margin-top:10px;
		color: #a71515;
	}
	#tryagain
	{
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
		background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.5, rgb(80,102,127)),
			color-stop(0.5, rgb(87,109,136)),
			color-stop(1, rgb(106,129,155))
		);
	    border: medium none;
	    border-radius: 6px 6px 6px 6px;
	    box-shadow: 0 1px 1px #888888;
	    color: #FFFFFF;
	    cursor: pointer;
	    font: 14px/36px tahoma,'Segoe UI Light','Segoe UI',Arial,sans-serif;
	    height: 36px;
	    left: 25px;
	    opacity: 0.9;
	    position: absolute;
	    top: 262px;
	    width: 239px;	
		display:none;
	}
	#loading-cmp
	{
	width:128px;
	height:128px;
	display:none;
	background-image:url('../img/error.png');
	background-repeat:no-repeat;

	}
	#uiswitch-box 
	{
	margin-top:145px;
	margin-left:25px;
	position: relative;
	top: -8px;
	}
	#uiswitch-box > label {
		position: absolute;
		top: -3px;
		left: 20px;
	}
	#uiswitch-box .ibutton-container {
		z-index: 10;
	}
	form#login > label {
		position: absolute;
		left: 205px;
		color: grey;
		font-family: tahoma,ubuntu,Arial;
	}
	form#login > label#unLabel {
		top: 35px;
	}
	form#login > label#pwLabel {
		top: 72px;
	}
	form#login .err-label
	{
		margin-left: 100px;
		position:absolute;
		top:-5px;
	}
	.logo {
	    width: 100%;
	    height: 100px;
	}
	.logo img{
		width:30%;
	}
	.top_logo{
    		width: 200px;
		opacity:0.01;
	}
.password{
background-image: url("../img/1438876698_gnome-keyring-manager.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.username{
background-image: url("../img/1438876975_user_mal.png");
    background-position: right center;
    background-repeat: no-repeat;
}
option{
	color:black;
}
.logotext1 {
    font-size: 25px;
    opacity:0.01;
}

.logotext2 {
    font-weight: bold;
    opacity:0.01;
    margin-top: 15px;
}
#login-overlay{
	opacity:0.01;
	margin-top: -25px;
}





















